* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/bkgd_page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.container {
    width: 1024px;
}
header {
    color: #fff;
}
ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
li {
    color: #fff;
    border-style: dotted;
    padding: 10px;
}
.lognav {
    display: flex;
    justify-content: space-between;
}
h1, h2, h3 {
    display: flex;
    justify-content: center;
}
.section1 {
    background-color: #fff;
}
.s1a {
    display: flex;
}
.s1b {
    display: flex;
}
.section2 {
    display: flex;
    background-color: #fff;
}
.book {
    display: flex;
    flex-direction: column;
}
.section3 {
    background-color: #ddeae4;
    border: 5px #305a47 solid;
    display: flex;
    justify-content: center;
}
.book {
    width: 480px;
    height: 480px;
    background-color: #ddeae4;
    padding: 5px 20px 10px 20px;
}
.boisable {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.rivpierre {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.bois{
    border: 5px #305a47 solid;
}
.pierre {
    border: 5px #305a47 solid;
}
.sable {
    border-top: 5px #305a47 solid;
    border-right: 5px #305a47 solid;
}
.riviere {
    border-left: 5px #305a47 solid;
    border-bottom: 5px #305a47 solid;
}
footer {
    background-color: #305a47;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
footer li {
    border-style: none;
}
figcaption a {
    text-decoration: none;
    color: brown;
}
.montagne1 {
    float: left;
}
.text1a {
    display: inline-block;
    float: left;
}
.submit {
    background-color: #305a47;
    border: 0;
    color: #ddeae4;
}
span {
    color: aqua;
}
em {
    color: lightgrey;
}
