* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/bkgd_page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.container {
    width: 1024px;
/* header */
}
header {
    color: #fff;
}
.lognav {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    color: #fff;
    border-style: dotted;
    padding: 10px;
}
nav a:hover {
    color: white;
}
nav a {
    text-decoration: none;
}
.tittle {
    text-align: center;
}
/* section1 */
.section1 {
    background-color: #fff;
}
.s1a ,.s1b {
    display: flex;
}
.montagnea, .montagneb {
    border: 3px solid black;
}
.montagnea:hover, .montagneb:hover{
    opacity: 0.5;
}
span {
    color: aqua;
}
em {
    color: lightgrey;
}
.text1a , .text1b {
    border-right: 1px dashed lightgray;
}
figure figcaption {
    text-align: center;
}
figure a:hover {
    color: #ccc;
}
/* section2 */
.section2 {
    background-color: #fff;
    display: flex;
}
.saut {
    border: 1px solid black;
}
.saut:hover {
    opacity: 0.9;
}
.book {
    width: 480px;
    height: 480px;
    background-color: #ddeae4;
    display: flex;
}
/* section3 */
.section3 {
    background-color: #ddeae4;
    border: 5px #305a47 solid;
    display: flex;
    justify-content: center;
}
.submit {
    background-color: #305a47;
    border: 0;
    color: #ddeae4;
}
/* footer */
footer {
    background-color: #305a47;
    display: flex;
    justify-content: center;
}
footer ul {
    display: flex;
    list-style: none;
}
footer li {
    border-style: none;
    color: #fff;
}
footer a {
    text-decoration: none;
}
figcaption a {
    text-decoration: none;
    color: brown;
}
footer li:hover {
    color: gray;
}

